* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.light-theme {
  --mainColor: #fff;
  --secondaryColor: #3c8dbc;
  --thirdColor: rgb(38, 37, 37);
  --forthColor: #fff;
}
.dark-theme {
  --mainColor: #141414;
  --secondaryColor: rgb(38, 37, 37);
  --thirdColor: #fff;
  --forthColor: #fff;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  background-color: var(--mainColor);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
ul {
  list-style: none;
}
